/* .team {
    background-image: url(../img/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
} */

.name {
    color: #003366;
    border-bottom: solid 1px #003366;
    padding-bottom: 5px;
    margin-top: 30px;
}

.container-fluid {
    background-color: blue;
}

.customcontainer {
    padding-bottom: 30px;
}

.subtitle {
    background-color: green;
    /* color: indigo; */
}

.column {
    background-color: red;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

/* @media (min-width: 750px) {
    .subtitle {
        background-color: cadetblue;
        font-size: 8px;
    }
} */

.btnCustom {
    padding-top: 5px;
}

@media (max-width: 500px) {
    .btnCustom {
        padding-bottom: 10px;
    }
}
